<!DOCTYPE html>

<html class="no-js ds-html xui-html" lang="en">

<head>
  <title>XUI{{#unless homepage}} – {{sections.0.header}}{{/unless}}</title>
  <meta charset="utf-8">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="./kss-assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./kss-assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./kss-assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./kss-assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./kss-assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./kss-assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./kss-assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./kss-assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./kss-assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="./kss-assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./kss-assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./kss-assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./kss-assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="./kss-assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#028DDE">
  <meta name="msapplication-TileImage" content="./kss-assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#028DDE">
  <meta property="og:title" content="XUI"/>
  <meta name="og:description" content="XUI is a design system for Xero web applications. It includes standard approaches and patterns plus the front-end code to implement them. XUI lets us focus on user problems over UI problems, keep a large codebase healthy, and get to market quickly."/>
  <meta property="og:image" content="./kss-assets/meta.png" />
  {{{styles}}}
</head>

<body id="kss-node" class="ds-body xui-container{{#if homepage}} ds-home{{/if}}">
<header class="ds-header">
  <div class="xui-u-flex xui-u-flex-justify-space-between">
    <a tabindex="-1" class="ds-xui-logo" href="./index.html"><h1>Xero User Interface</h1></a>
    <a class='ds-header--link' href="#search-select-input" >
      <span class="ds-header--link-menu">Menu</span>
      <span class="ds-header--link-accessible">
        <svg focusable="false" class="xui-icon" role="presentation">
          <use xlink:href="#xui-icon-accessibility" />
        </svg>
        Jump to Navigation
      </span>
    </a>
  </div>
</header>
{{#unless homepage}}
<div class="ds-page-header">
  {{> breadcrumbs }}
  {{#each sections}}
    {{#if @first}}
      {{#hasChildren}}
    {{else}}
      {{> jumpto }}
      {{/hasChildren}}
    {{/if}}
  {{/each}}
</div>
{{/unless}}
<article role="main" class="ds-main">



  <div class="ds-section-wrap">

    {{#if homepage}}
    <div id="home" class="kss-style ds-section-part">
      {{{homepage}}}
    </div>
    {{else}}
    {{!
    Display each section, in order.

    The "root" element comes first in this loop, and can be detected using
    the "#if @first" block as seen below.
    }}
    {{#each sections}}
    {{#wrapSection referenceURI}}
      <div data-search-section>
        <div class="kss-style ds-section-part">
          {{#if topdescription}}
            <div class="ds-description">
              <p>
                {{{topdescription}}}
              <p>
            </div>
          {{else}}
            <h{{depth}} class="ds-title ds-title--level-{{depth}}" data-search-section-title {{#ifDepth 1}}data-search-page-title{{/ifDepth}}>
              <a class="kss-title__permalink ds-anchor" href="#{{referenceURI}}" data-search-section-link>
                <svg class="xui-icon ds-anchor-hash" role="presentation"> <use xlink:href="#xui-icon-hash" /></svg>
              </a>
              <span>{{header}}</span>
              {{#if flags}}
                {{#renderFlags flags}}
                  <a href="./section-getting-started.html#getting-started-5" class="ds-flag {{#if flag.shortName}}{{getStatusClass flag.shortName}}{{/if}}" {{#if flag.shortName}}aria-describedby="{{flag.shortName}}"{{/if}}>
                      {{flag.label}}
                      {{#if flag.desc}}
                        <span class="hover-tooltip hover-tooltip-below xui-button" {{#if flag.shortName}}id="{{flag.shortName}}"{{/if}}>{{flag.desc}}</span>
                      {{/if}}
                  </a>
                {{/renderFlags}}
              {{/if}}
              {{#if introduced}}
                <a
                  aria-describedby="{{referenceURI}}-introduced"
                  class="ds-flag"
                  href="https://github.dev.xero.com/UXE/xui/releases/tag/{{introduced}}"
                >
                  {{introduced}}+
                  <span class="hover-tooltip hover-tooltip-below" id="{{referenceURI}}-introduced">
                    Introduced in XUI {{introduced}}
                  </span>
                </a>
              {{/if}}
            </h{{depth}}>
          {{/if}}

          {{#if introduction}}
            <div class="xui-u-flex ds-intro">
              {{{renderSectionInMarkdown introduction}}}
            </div>
          {{/if}}

          {{! Disable table of contents for the following sections }}
          {{#if @first}}
            {{#if visualexample}}
              <div class="ds-example-visual-example-container">
                  {{{includePage visualexample}}}
              </div>
            {{/if}}
            {{#if components}}
              {{#renderComponents components}}
              <div style="display: flex;">
                <span class="xui-margin-right-small">
                  <a href="{{url}}" target="_blank" class="xui-button xui-button-small xui-button-borderless-main xui-margin-top-large ds-example-storybooklink" aria-label="View {{name}} React documentation" style="display: flex; align-items: center"><span class="xui-margin-right-xsmall">React docs</span>
                    <svg focusable="false" class="xui-icon" role="presentation"> <use xlink:href="#xui-icon-external" /></svg>
                  </a>
                </span>
                <span class="xui-margin-right-small">
                  <a href="{{storybookUrl}}" target="_blank" class="xui-button xui-button-small xui-button-borderless-main xui-margin-top-large ds-example-storybooklink" style="display: flex; align-items: center;"><span class="xui-margin-right-xsmall">Storybook</span>
                    <svg focusable="false" class="xui-icon" role="presentation"> <use xlink:href="#xui-icon-external" /></svg>
                  </a>
                </span>
              </div>
              {{/renderComponents}}
            {{/if}}

            {{#ifStyleguide "Compositions" "Components.CollectingInput.Forms" "Components.DisplayingData.EditableTable" "Contributing to XUI.XUI Labs.XUI Labs Overview" "Contributing to XUI.XUI Labs.Contributing" "Fundamentals"}}
              {{! noop }}
            {{else}}
              <ul>
                {{#each  @root.sections}} {{#ifDepth 2}}
                  <li>
                    <a href="#{{referenceURI}}">
                      {{header}}
                    </a>
                  </li>
                {{/ifDepth}} {{/each}}
              </ul>
            {{/ifStyleguide}}
          {{/if}}

          {{#ifStyleguide "Fundamentals.Icons.1" }}
            {{injectXUIIconLoaderExample}}
          {{/ifStyleguide}}

          {{#if markdown}}
          <div class="ds-description">
            {{{includePage markdown}}}
          </div>
          {{/if}}

          {{#if description}}
          <div class="ds-description {{#ifStyleguide "Components.DisplayingData.EditableTable"}}xui-margin-bottom-2xlarge xui-u-flex{{/ifStyleguide}}">
            {{{description}}}
          </div>
          {{/if}}

          {{#if examplecontenttable}}
          <div class="ds-description">
            <table style="table-layout: fixed;">
              <thead>
                <tr>
                  <th style="text-align:left"><svg width="12" height="12" focusable="false" class="xui-icon xui-icon-color-green"
                      role="presentation" viewbox="0 0 12 12">
                      <path d="M0 5.714l1.444-1.428 2.89 2.857L11.555 0 13 1.429 4.333 10z"></path>
                    </svg>
                    &nbsp;Do
                  </th>
                  <th style="text-align:left"><svg width="12" height="12" focusable="false" class="xui-icon xui-icon-color-red"
                      role="presentation" viewbox="0 0 12 12">
                      <path d="M6 4.5L10.5 0 12 1.5 7.5 6l4.5 4.5-1.5 1.5L6 7.5 1.5 12 0 10.5 4.5 6 0 1.5 1.5 0 6 4.5z"></path>
                    </svg>
                    &nbsp;Don't
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#renderExampleRows examplecontenttable}}
                <tr>
                  <td style="text-align:left; vertical-align: baseline;">{{row.doText}}</td>
                  <td style="text-align:left; vertical-align: baseline;">{{row.dontText}}</td>
                </tr>
                {{/renderExampleRows}}
              </tbody>
            </table>
          </div>
          {{/if}}

          {{#if image}}
          <figure>
            <img class="xui-margin-top-2xlarge xui-margin-bottom-small" style="width: 100%;" src="./kss-assets/{{image}}">
            {{#if image-caption}}
              <figcaption class="xui-text-minor xui-text-align-center xui-margin-bottom-4xlarge">{{image-caption}}</figcaption>
            {{/if}}
          </figure>
          {{/if}}

          {{#if tips}}
            {{#renderTips tips}}
              <div class="ds-tips">
                <svg focusable="false" class="xui-icon ds-tips--icon {{tip.iconClass}}" role="presentation">
                  <use xlink:href={{tip.iconName}} />
                </svg>
                <span class="ds-tips--detail xui-padding-left-small">{{{renderSectionInMarkdown tip.details}}}</span>
              </div>
            {{/renderTips}}
          {{/if}}

          {{#if parameters}}
            {{>renderParameters}}
          {{/if}}

          {{#if language}}
            <div class="ds-language-link">
              <span class="xui-tooltip">
                <a href="{{language}}" target="_blank" class="xui-button-icon xui-button-icon-medium" aria-label="View writing guide">
                  <svg focusable="false" class="xui-icon xui-icon-color-blue" role="presentation">
                    <use xlink:href="#xui-icon-file-document" />
                  </svg>
                </a>
                <span class="xui-tooltip--tip xui-positioningInline--content-bottomcenter">Writing guide</span>
              </span>
            </div>
          {{/if}}
        </div>

        {{#if classes}}
        <div class="kss-style ds-section-part">
          <table class="ds-classtable xui-margin-bottom">
            <tbody>
              {{#renderClasses classes}}
                <tr class="ds-classtable-row">
                  <td class="xui-text-cell ds-classtable-classname"><code>{{classes.name}}</code></td>
                  <td class="xui-text-cell ds-classtable-description" {{#unless classes.version}}colspan="2"{{/unless}}>{{classes.value}}</td>
                  {{#if classes.version}}
                    <td class="xui-text-cell ds-classtable-version">
                      <a
                        aria-describedby="{{referenceURI}}-introduced"
                        class="ds-flag"
                        href="https://github.dev.xero.com/UXE/xui/releases/tag/{{classes.version}}"
                      >
                        {{classes.version}}+
                        <span class="hover-tooltip hover-tooltip-below" id="{{referenceURI}}-introduced">
                          Introduced in XUI {{classes.version}}
                        </span>
                      </a>
                    </td>
                  {{/if}}
                </tr>
              {{/renderClasses}}
            </tbody>
          </table>
        </div>
        {{/if}}

        {{#if definitions}}
        <div class="kss-style ds-section-part">
          <dl class="ds-definition {{renderTwoCols definitions}}">
            {{#renderDefinitions definitions}}
              <dt class="ds-definition--term">{{definition.dt}}</dt>
              <dd class="ds-definition--description">
              {{#each definition.dd }}
                {{{this}}}
              {{/each}}
              </dd>
            {{/renderDefinitions}}
            </dt>
          </dl>
        </div>
        {{/if}}
        {{#if note}}
        <div class="kss-style ds-section-part">
          <p class="ds-note">{{{note}}}</p>
        </div>
        {{/if}}
        {{#if tokens}}
          {{{renderTokens tokens tokentype}}}
        {{/if}}

      </div>  {{! end data-search-section }}

      {{#if example}}
      <div class="ds-markup-example-switcher ds-section-part" data-sectionid="{{referenceNumber}}">
        <!-- These come first because they are used for styling siblings -->
        <input type="radio" id="markup-{{referenceNumber}}" name="a-{{referenceNumber}}" class="ds-input-markup" />
        <input checked type="radio" id="example-{{referenceNumber}}" name="a-{{referenceNumber}}" class="ds-input-example" />

        <!--ds-example-->
        <div class="ds-example{{#isInList exampleclass "ds-example-markuponly"}} xui-u-hidden{{/isInList}}">
          <div class="ds-section-part ds-example-default {{exampleclass}}">
            <div class="ds-example--inner xui-container">
            {{{example}}}
            </div>
          </div>

          {{#if modifiers}}
            <p class="xui-heading">Modifiers</p>
            <div class="ds-section-part ds-example-default {{exampleclass}} xui-margin-bottom">
            {{#each modifiers}}
              <code>{{name}}</code> <!--<span class="xui-textcolor-faint">{{{description}}}</span>-->
              <div class="ds-example--inner xui-container">
                {{{markup}}}
              </div>
            {{/each}}
            </div>
          {{/if}}
          <div class="ds-example-links">
            <label for="markup-{{referenceNumber}}" class="xui-button xui-button-borderless-main xui-button-small ds-example-markuplink xui-margin-top-large{{#isInList exampleclass "ds-example-inline"}} xui-u-hidden{{/isInList}}{{#isInList exampleclass "ds-example-markuponly"}} xui-u-hidden{{/isInList}}">Show markup</label>
            {{#if storybook}}
              <a href="{{storybook}}" target="_blank" class="xui-button xui-button-borderless-main xui-button-small xui-margin-top-large ds-example-storybooklink">Open Storybook example
                <svg focusable="false" class="xui-icon" role="presentation"> <use xlink:href="#xui-icon-external" /></svg>
              </a>
            {{/if}}
          </div>
        </div>
        <!--ds-example-->

        <!--ds-markup-->

        <div class="ds-markup{{#isInList exampleclass "ds-example-inline"}} ds-example-inline{{/isInList}}{{#isInList exampleclass "ds-example-markuponly"}} ds-example-inline{{/isInList}}">
          <header class="ds-markup--actions">
            <label for="example-{{referenceNumber}}" class="xui-button xui-button-icon-medium xui-button-icon xui-button-icon-inverted ds-button-closemarkup" title="Close markup pane"
             aria-label="Close markup pane">
                <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross"></use></svg>
              </label>
            <button data-copyHook data-clipboard-text="{{markup}}" class="code-copy xui-button xui-button-icon-medium xui-button-icon xui-button-icon-inverted ds-copy-button--fixed" title="Copy code example"
             aria-label="Copy code example">
              <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-copy"></use></svg>
            </button>
            <h3 class="xui-textcolor-inverted xui-u-flex-grow xui-margin-none xui-padding-none">{{header}}</h3>
          </header>
          <pre class="prettyprint linenums lang-html"><code data-language="html">{{markup}}</code></pre>
        </div>
        <!--ds-markup-->


      </div>
      {{/if}}

      {{#ifStyleguide "Getting Started.5" }}
        <div class="kss-style ds-section-part">
          <dl class="ds-definition ds-definition-two-cols">
            {{#renderFlagDefs}}
              <dt class="ds-definition--term">{{definition.dt}}</dt>
              <dd class="ds-definition--description">{{definition.dd }}</dd>
            {{/renderFlagDefs}}
          </dl>
        </div>
      {{/ifStyleguide}}
      {{#ifStyleguide "Fundamentals.Icons.8" }}
        {{xuiIconDocs}}
      {{/ifStyleguide}}

      {{#if related}}
      <div class="kss-style ds-section-part ds-list-related">
        {{#renderRelated related}}
          {{{related}}}
        {{/renderRelated}}
      </div>
      {{/if}}

    {{/wrapSection}}
    {{/each}}
    
    {{#each sections}}
      {{#if @first}}
        {{! Don't show the landing page tiles for the following sections: }}
        {{#ifStyleguide "Components.CollectingInput.Forms" "Components.DisplayingData.EditableTable" "Contributing to XUI.XUI Labs.XUI Labs Overview" "Contributing to XUI.XUI Labs.Contributing" "Getting Started" "Contributing to XUI"}}
          {{! noop }}
        {{else}}
          {{> landingpage }}
        {{/ifStyleguide}}
      {{/if}}
    {{/each}}
    {{/if}}
    
  </div>
</article>

<nav>
  <ul class="ds-nav--menu">
    <li class="ds-nav--header">
      <a class="ds-xui-logo ds-nav-li xui-color-grey-standard" href="./index.html">
        <h1>Xero User Interface</h1>
      </a>
    </li>
    <li class="ds-nav--search">
      {{> searchSelect }}
    </li>
    {{> menu }}
  </ul>
</nav>
<!-- SCRIPTS -->
{{serviceWorker}}
{{{scripts}}}
{{xuiIconLoader}}
</body>

</html>
